/clases/ConceptosBasicos/nbproject/private/
DiagramaBD.img
/tareas/TareaLIBRO/nbproject/private/
/tareas/TareaLIBRO/build/
/tareas/TareaLIBRO/dist/
/clases/ConceptosBasicos/build/
/clases/ConceptosBasicos/dist/
